/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial-Rounded-Light, sans-serif;
}

body {
  overflow: hidden;
}

/* Custom Fonts */
@font-face {
  font-family: Arial-Rounded;
  src: url("../fonts/Arial-Rounded.ttf");
}

@font-face {
  font-family: Arial-Rounded-Light;
  src: url("../fonts/Arial-Rounded-Light.ttf");
}

/* Chat Container */
.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  padding: 30px 0 40px;
}

#sigInChat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chat-box {
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
}

.nickname-form {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.warning-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 400px;
  height: 150px;
  border: 1px solid black;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(234, 47, 47, 0.777) 0px 5px 15px;
  text-align: center;
  gap: 20px;
  z-index: 5;
  font-size: 20px;
}

.warning-div a {
  text-decoration: none;
  color: red;
}

.warning-div button {
  padding: 6px;
  width: 70px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  transition: all 0.2s ease-in-out;
}

.warning-div button:hover {
  background-color: rgba(213, 128, 128, 0.397);
}

.messages-wrapper {
  height: 80%;
  margin-top: 40px;
  padding: 30px;
  overflow-y: scroll; /* Enables vertical scrolling */
}

.messages-wrapper::-webkit-scrollbar {
  width: 0; /* Removes the scrollbar */
  height: 0;
}

.messages-wrapper {
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
  scrollbar-width: none; /* For Firefox */
}

/* Chat Bubbles */
.chat-bubble {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 20px;
  background-color: #d0e7d2;
  color: #1c2c4c;
  box-shadow: -2px 2px 1px 1px #88ab8e;
  word-wrap: break-word;
  max-width: 100%; /* Ensure the bubble can resize based on message length */
  position: relative; /* Allows positioning of the actions outside this bubble */
  max-width: 400px;
  text-wrap: wrap;
  margin-bottom: 20px;
}

.chat-bubble.right {
  margin-left: auto;
  background-color: #fff;
  border-radius: 20px 20px 0 20px;
}

/* Chat Bubble Container */
.chat-bubble-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
  position: relative; /* This is needed to position the actions relative to the container */
}

/* Chat Bubble Contents */
.chat-bubble__left {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
}

.user-name {
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: bold;
}

.user-message {
  word-break: break-word;
}

.message-time {
  text-align: right;
}

/* Send Message */
.send-message {
  display: flex;
  margin-bottom: 20px;
  /* width: 100%; */
}

#sendMessageBlock {
  width: 100%;
}

/* Input Container */
.inputContainer {
  position: relative;
  /* width: 694px; */
  min-width: 350px;
  max-width: 600px;
  width: 100%;
  padding: 5px;
}

.inputContainer input {
  width: 100%;
  height: 52px;
  padding: 10px 25px;
  font-size: 16px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 30px;
  outline: none;
}

#nickname {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #8e88ab;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 14px;
  transition: box-shadow 0.3s ease-in-out;
  border: 1px solid #ced4da;
}
#nickname:focus {
  box-shadow: 0 0 0 0.25rem rgba(166, 201, 172, 0.5); /* Green Box Shadow */
  border-color: #a6c9ac;
  outline: none;
}

#userInput {
  padding-right: 70px;
}

/* Submit Button */
.inputContainer #submit {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #ffffff;
  background: transparent;
  border: none;
  cursor: pointer;
}

.inputContainer #submit:hover {
  color: rgba(255, 255, 255, 0.788);
}

/* Message Actions (Buttons) */
.message-actions {
  position: absolute;
  left: -28px; /* Adjust to position the buttons to the left of the message */
  top: 18px; /* Adjust this as needed to align with the message */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1; /* Ensure the buttons are above other elements */
}

.message-actions button {
  background: transparent;
  border: none;
  color: #1c2c4c;
  cursor: pointer;
  margin-bottom: 5px;
  color: black;
}

.message-actions button:hover {
  color: #888;
}
