/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial-Rounded-Light, sans-serif;
}

body {
  overflow: hidden;
}

/* Custom Fonts */
@font-face {
  font-family: Arial-Rounded;
  src: url("../fonts/Arial-Rounded.ttf");
}

@font-face {
  font-family: Arial-Rounded-Light;
  src: url("../fonts/Arial-Rounded-Light.ttf");
}

.scrollToTop {
  position: fixed;
  height: 100px;
  width: 100px;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s, transform 0.3s;
}

.scrollToTop:hover {
  background-color: #0056b3;
}

.scrollToTop:active {
  transform: scale(0.9);
}

/* Tips Container Styles */
.tips {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  gap: 50px;
  padding: 30px 0 40px;
  overflow-y: scroll;
}

.tipCardContainer {
  /* width: 90%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.tipCardContainer h2 {
  display: block;
  width: 100%;
  text-align: center;
}

.tipSection {
  width: 90%;
  text-align: center;
}

.tipSection h2 {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

#professionalHeader {
  margin-bottom: 30px;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filterContainer select {
  width: 20%;
  text-align: center;
  min-width: 200px;
  max-width: 400px;
}

.tipCard {
  height: 350px;
  width: 250px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.tipCard h2 {
  margin-bottom: 10px;
}

.tipCard .tipCardText {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 45px;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.tipCardText h2,
.tipCardText p {
  white-space: normal;
  word-break: break-word;
}

.tipCard .tipCardText p {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.tipCard .tipCardText #headerCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 20%;
}

.iconTip {
  background-color: transparent;
  border: none;
  size: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none; /* Optional: remove button border */
  background: none; /* Optional: remove background */
  padding: 0; /* Ensure no extra space */
  cursor: pointer;
}

.commentCount {
  position: absolute;
  top: -7px;
  right: -9px;
  background: rgb(238, 72, 72);
  color: white;
  font-size: 12px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconTip:hover {
  color: rgb(30, 63, 36);
}

.tipCardButtons {
  flex-direction: column;
}

.buttonsFirstRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.tipCardButtons,
.creatorIcons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.likesTip {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.liked button {
  color: rgb(238, 72, 72);
}

/* Add Tip Form Styles */
.addTip {
  display: flex;
  flex-direction: column;
  box-shadow: #183b1ee0 0px 5px 15px;
}

.addTip form {
  display: flex;
  height: 100%;
  gap: 10px;
  flex-direction: column;
}

.addTip form textarea {
  height: 40%;
  width: 100%;
  resize: none;
}

.addTip h2 {
  margin: 0;
}

#inputTip,
#textareaTip,
#selectTip,
#categoryFilter {
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#inputTip:focus,
#textareaTip:focus,
#selectTip:focus,
#categoryFilter:focus {
  color: #212529;
  background-color: #fff;
  border-color: #88ab8e;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #88ab8e54;
}

#submitFormTip {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  /* height: 48px; */
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 8px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  /* font-size: 18px; */
}

#submitFormTip:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

#submitFormTip:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

#submitFormTip:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

/* Comments */
.commentsContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  width: 600px;
  height: 400px;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
}

.commentsHeader {
  display: flex;
  padding-top: 12px;
  padding-right: 29px;
  padding-left: 29px;
  font-size: 25px;
  justify-content: space-between;
  align-items: center;
}

.chatComments {
  flex-grow: 1;
}

#closeComments {
  text-align: right;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 30px;

  display: flex; /* Ensures the icon is centered */
  align-items: center;
  justify-content: center;
}

#closeComments:hover {
  color: rgba(101, 110, 102, 0.788);
}

.commentInput {
  position: relative;
  padding: 10px;
}

.commentsContainer form {
  height: 52px;
  padding: 10px 25px;
  font-size: 16px;
  color: white;
  background-color: #202b22;
  border: none;
  border-radius: 30px;
  outline: none;
  margin: 10px;
}

.commentInput input {
  width: 90%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

#sendComment {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #ffffff;
  background: transparent;
  border: none;
  cursor: pointer;
}

#sendComment:hover {
  color: rgba(255, 255, 255, 0.788);
}

/* Chat for comments */
.chatComments {
  height: 100%;
  padding-right: 10px;
  padding-left: 10px;
  overflow-y: scroll; /* Enables vertical scrolling */
  position: relative;
}

#noCommentsText {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chatComments::-webkit-scrollbar {
  width: 0; /* Removes the scrollbar */
  height: 0;
}

.chatComments {
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
  scrollbar-width: none; /* For Firefox */
}
.comment-bubble {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 20px;
  background-color: #d0e7d2;
  color: #1c2c4c;
  box-shadow: -2px 2px 1px 1px #88ab8e;
  word-wrap: break-word;
  position: relative; /* Allows positioning of the actions outside this bubble */
  max-width: 300px;
  text-wrap: wrap;
  margin-bottom: 20px;
  margin-left: 10px;
}

.comment-bubble.right-comment {
  margin-left: auto;
  background-color: #fff;
  border-radius: 20px 20px 0 20px;
}
