* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial-Rounded-Light, sans-serif;
}

.App {
  min-width: 300px;
  min-height: 300px;
}

/* Fonts */
@font-face {
  font-family: Arial-Rounded;
  src: url("fonts/Arial-Rounded.ttf");
}

@font-face {
  font-family: Arial-Rounded-Light;
  src: url("fonts/Arial-Rounded-Light.ttf");
}

.home::-webkit-scrollbar,
.tips::-webkit-scrollbar,
.proposals::-webkit-scrollbar {
  width: 12px;
}

.home::-webkit-scrollbar-track,
.tips::-webkit-scrollbar-track,
.proposals::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.home::-webkit-scrollbar-thumb,
.tips::-webkit-scrollbar-thumb,
.proposals::-webkit-scrollbar-thumb {
  background-color: #88ab8e;
  border-radius: 100px;
}

/* Navbar */
.navbar {
  background-color: #1a1a19;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signInGoogle {
  cursor: pointer;
  padding: 30px;
  border: none;
}

.signInGoogle:hover {
  opacity: 0.8;
}
.menu-bars {
  /* margin-left: 2rem; */
  font-size: 2rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}

.menu-bars:hover {
  color: #c6e4cb;
}

#homeButtonNav {
  border: none;
  background-color: transparent;
  display: inline;
}

#logoNavbar:hover {
  cursor: pointer;
}

#logoNavbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Nav Menu */
.nav-menu {
  background-color: #88ab8e;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 10;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #88ab8e;
  /* width: 100%; */
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 25px;
}

/* Navigation Links */
.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #151414;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #000000;
  color: #fff;
}

/* Logo and Sidebar */
#logoSidebar {
  height: 25px;
}

#crossSidebar {
  padding-top: 7px;
  margin-right: 10px;
  /* padding-right: 14px; */
  margin-left: 0px;
  color: black;
}

#crossSidebar:hover {
  color: rgba(255, 255, 255, 0.788);
}

span {
  margin-left: 16px;
}

/* Log Out Button */
.logOut {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px;
  cursor: pointer;
  position: relative;
  padding: 5px;
}

/* Underline Animation */
.logOut::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transition: transform 0.25s ease-out;
}

.logOut:hover::after {
  transform: scaleX(1);
}

.logOut.left::after {
  transform-origin: bottom right;
}

.logOut.left:hover::after {
  transform-origin: bottom left;
}

.logOut.center::after {
  transform-origin: bottom center;
}

.logOut.center:hover::after {
  transform-origin: bottom center;
}

.logOut.right::after {
  transform-origin: bottom left;
}

.logOut.right:hover::after {
  transform-origin: bottom right;
}

/* Sign In Button */
.account {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding: 10px;
}

.account button {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

#leftIconsNavbar {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
#leftIconsNavbar .menu-bars {
  display: flex;
  justify-content: center;
  align-items: center;
}
